

@font-face {
    font-family: 'space_monobold';
    src: url('/Fonts/spacemono-bold-webfont.woff2') format('woff2'),
         url('/Fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monobold_italic';
    src: url('/Fonts/spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('/Fonts/spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoitalic';
    src: url('/Fonts/spacemono-italic-webfont.woff2') format('woff2'),
         url('/Fonts/spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoregular';
    src: url('/Fonts/spacemono-regular-webfont.woff2') format('woff2'),
         url('/Fonts/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2, p, li {
	font-family: 'Space Mono', monospace;
	color: #333;
	font-style: normal;
}

h1, h2 {
	font-weight: 400;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding: 0 24px 0 0;
}



