
body {
  background-color: #fcfcfc;
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-variant-ligatures: normal;
  margin: 0 auto;
  width: 90%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  body a {
    color: black;
    text-decoration: none;
    text-decoration-color: black;}
    body a:hover {
      color: black;
      text-decoration: underline; 
      text-decoration-thickness: 1px;}
  
  body.caseStudy {
    width: 90%; }

  b {
    font-weight: 600;}

  h1 {
    color: black;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-style: normal; 
    font-weight: 400;}

  h2, h3, h4, h5 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal; 
    font-weight: 500;}
    h2.pullquote {
      color: black;
      font-family: 'EB Garamond', 'Times New Roman', serif;
      font-weight: 400;
      padding: 1rem;
      margin: auto;
      text-align: left;
      width: 90%;}
  
  p {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    line-height: 1.5em;}
    p.label {
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: normal;
      text-transform: normal;}
      p.label.legal {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #737373;}
      p.label.top {
        text-transform: uppercase;
      }
  
  p.caption {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    color: #737373;
    text-align: left;
    width: 100%;
    margin-left: .5rem;}
  
  div.emp h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .005rem;
    margin-top: 2.5rem;
    margin-bottom: .875rem;
    text-transform: uppercase;}

  div.emp p {
    margin-top: 0;}

  div.image {
    width: 100%;}

@media all and (min-width: 1024px) {
  body.caseStudy {
    width: 75%;}
    h2.pullquote {
      padding: 3rem;
      text-align: center;
      width: 75%;}
    p.caption {
      font-size: 14px;
      max-width: 80%};
    }
@media all and (min-width: 768px) {
  div.image.profile {
    float: right;
    margin: 1rem;
    padding: 1rem 0 0 0;
    width: 40%;
    height: auto;}
  }